<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
   
       <add name="YiXiaoTongDev" connectionString="server=192.168.70.71;database=YiXiaoTong;uid=sa;pwd=yxt123!" />
 
     <add name="YiXiaoTongTest" connectionString="server=192.168.70.70;database=YiXiaoTong;uid=sa;pwd=yxt123!test" />
   
  </connectionStrings>
</configuration>