
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>登录页面</title>
</head>
<body>
    <div> 
        <form action="/Home/Login" method="post">
            用户名：<input type="text" name="userName" value="" />
                <input type="submit" name="submit" value="提交" />
        </form>
      

    </div>
</body>
</html>
